<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RGS Health Care</title>
  <style>
    body {
      background-color: #95c2de;
    }
    h1{
      color:red;
      font-family: cursive;
      margin:auto auto;
    }
  </style>

</head>

<body>

  <h1>File Limit Exceeded! Please Go Back</h1>

</body>

</html>