<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RGS HEALTH CARE</title>
  <link rel="stylesheet" href="css/Patient.css">
</head>


<body>
  <div style="height:35rem" class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-user-injured"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/Patient/register" id="register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/Patient/login" id="login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
</body>

</html>